body{
	background-image: url('../background3better.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
}

.underline{
	text-decoration: underline;
}

#flex_container{
	display: flex;
	flex-direction: column;
}

#description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
	font-weight: bold;
}

#sync_status{
	display:flex;
	flex-direction: row;
	align-self: center;
}

#sync_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 0 1 auto;
}

.image_logo{
	width:500px;
	margin: auto;
}


#ticketbud_image{
	width: 100%;
}

#zoho_image{
	height: 400px;
	margin-top: -15px;
}


#click_here_text{
	width: 500px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	font-style: italic;
}

#sync_button{
	width: 200px;
	height: 50px;
	align-self: center;
	cursor: pointer;
	background-color: #6B8FE4;
	border: solid black 1px;
	border-radius: 12px;
}


#click_text{
	align-self: center;
	font-weight: bold;
}

#sync_value{
	font-style: italic;
}

#update_info_container{
	width: 100vw;
	height:100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}

#events_update{
	height: 100vw;
	width: 500px;
	/* background-color: #B8B8B8; */
	visibility: hidden;
	font-weight: bold;
}


#contacts_update{
	height: 100vw;
	width: 500px;
	/* background-color: #B8B8B8; */
	visibility: hidden;
	font-weight: bold;
}

.header_update{
	text-align: center;
}

.new_updates_container{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;

}

.new_update{
	border-radius: 20px;
	border: 1px solid black;
	padding: 5px;
	width: 50%;
	text-align: center;
	align-self: center;
	margin-top: 10px;
}

.update_header{
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}

#overlay{
	position: fixed; /* Sit on top of the page content */
	visibility: hidden;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
    background-color:lightslategrey; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */ 
	display:flex;
	justify-content: center;
}

#overlay_content{
	align-self: center;
	display: flex;
	flex-direction: column;
}

#ok_button{
	margin: auto;
	width:100px;
	height: 30px;
	background-color: #5679CC;
	font-weight: bold;
	border: none;	
	cursor: pointer;
	border-radius: 6px;	
}

#overlay_header{
	font-style: italic;
}

